
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

* {
    scroll-behavior: smooth;
    cursor: none !important;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --color-text: #e9dcf9;
    --color-background: #050513;
    --color-primary: #bb85f6;
    --color-secondary: #522088;
    --color-accent: #9637fa;    
}

.koderum-background {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="20"><text x="0" y="15" font-size="16" fill="#ffffffff">KODERUM</text></svg>');
    background-repeat: repeat;
    background-size: 400px;
}


.grid-lines-mask {
    --grid-size: 150px;
    --line-width: 2px;
    mask-image:
        repeating-linear-gradient(
            to bottom,
            #fff 0 var(--line-width),
            transparent var(--line-width) var(--grid-size)
        ),
        repeating-linear-gradient(
            to right,
            #fff 0 var(--line-width),
            transparent var(--line-width) var(--grid-size)
        );
    mask-composite: add;
    -webkit-mask-image:
        repeating-linear-gradient(
            to bottom,
            #fff 0 var(--line-width),
            transparent var(--line-width) var(--grid-size)
        ),
        repeating-linear-gradient(
            to right,
            #fff 0 var(--line-width),
            transparent var(--line-width) var(--grid-size)
        );
    -webkit-mask-composite: source-over;
}

.koderum-shadow {
    text-shadow: 5px 5px 0px var(--color-accent);
}

.holo-bar {
    background: linear-gradient(90deg,rgba(187, 133, 246, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(187, 133, 246, 1) 100%);
}

.holo-bar-sideways {
    background: linear-gradient(0deg,rgba(187, 133, 246, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(187, 133, 246, 1) 100%);
}

.fade-edges {
    --fade-width: 20%;
    mask-image:
        linear-gradient(
            to bottom,
            transparent 0,
            #fff var(--fade-width),
            #fff calc(100% - var(--fade-width)),
            transparent 100%
        ),
        linear-gradient(
            to right,
            transparent 0,
            #fff var(--fade-width),
            #fff calc(100% - var(--fade-width)),
            transparent 100%
        );
    mask-composite: intersect;
    -webkit-mask-image:
        linear-gradient(
            to bottom,
            transparent 0,
            #fff var(--fade-width),
            #fff calc(100% - var(--fade-width)),
            transparent 100%
        ),
        linear-gradient(
            to right,
            transparent 0,
            #fff var(--fade-width),
            #fff calc(100% - var(--fade-width)),
            transparent 100%
        );
    -webkit-mask-composite: source-in;
}

::selection {
	background: var(--color-primary);
    color: var(--color-background);
}

@keyframes showcase-bg-anim {
    0% {
        background: var(--color-primary);
    }
    50% {
        background: var(--color-accent);
    }
    100% {
        background: var(--color-primary);
    }
}

.showcase-bg-anim {
    animation: showcase-bg-anim linear 10s forwards infinite;
}